services:
  postgres:
    image: postgres:18.1
    container_name: ecommerce_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"

  redis:
    image: redis:8.2.2
    container_name: ecommerce_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  redis_data: